{% extends 'global/paginas/base.html' %}

{% block titulo %}Python{% endblock titulo %}

{% block linguagem %}    
    {% include 'python/parciais/linguagem.html' %}
{% endblock linguagem %}

{% block menu %}
    {% include 'python/parciais/menu.html' %}
{% endblock menu %}

{% block tag_h1 %}Python{% endblock tag_h1 %}

{% block principal %}
<p>
    Python é uma linguagem de alto nível criada por Guido Van Rossum. Foi levado à
     público em 1991. Nós queremos dizer com “alto nível” é que é uma linguagem que 
     esconde do programador pequenos detalhes e que humanos entendem facilmente. Python é
      conhecida por sua simplicidade e legibilidade. 
<p>
    Python é uma das linguagens mais fáceis para se começar. Programas feitos com Python 
    parecem com a língua inglesa. Por causa de sua simplicidade, a maioria dos cursos
     de nível iniciante usam o Python para introduzir conceito de programação para seus alunos.
</p>
 <p>
    Python é portátil, o que significa que podemos rodar programas feito através de Python 
    em diferentes sistemas operacionais sem fazer nenhuma mudança. 
 </p>
<h3>
    Por que todos devem aprender Python? 
</h3> 
<p>
    Muito pouca gente sabe que o Python pode ser empregado em diversos setores e profissões
     (por exemplo em Data Science). Você pode facilmente substituir suas fórmulas excel por
      algumas linhas rápidas de código Python e conseguir muito rapidamente retirar insights 
      e análises muito mais precisas dos seus dados e informações que necessita para realizar 
      seu trabalho da melhor forma possível. Qual profissão não precisa disto? Melhora da 
      análise, produtividade e rapidez.
</p>
A linguagem Python é sem dúvidas uma grande evolução que está só no início e tende a impactar 
praticamente todas as áreas e profissões e cada vez mais as pessoas conhecem e sabem o 
que é Python.
</p>
<p><i>Fonte: https://harve.com.br/blog/programacao-python-blog/o-que-e-python-vantagens-e-por-que-todos-devem-aprender/</i></p>
{% endblock principal %}