{% extends 'global/paginas/base.html' %}

{% block titulo %}Sobre{% endblock titulo %}

{% block linguagem %}
    {% include 'home/parciais/link-home.html' %}
{% endblock linguagem %}

{% block menu %}    
    {% include 'home/parciais/menu.html' %}
{% endblock menu %}

{% block tag_h1 %}
    <h2>Sobre</h2>
{% endblock tag_h1 %}

{% block principal %}
    Trabalho solicitado pelo ilustríssimo professor Guto Hertzog para a disciplina de 
    Django do programa RS TI do Senac RS ministrado no SenacTech de Porto Alegre - RS 
    no ano do Senhor de 2023, mais precisamente no mês de fevereiro.
{% endblock principal %}