{% extends 'global/paginas/base.html' %}

{% block titulo %}Java-Exemplos{% endblock titulo %}

{% block linguagem %}
    {% include 'java/parciais/linguagem.html' %}
{% endblock linguagem %}

{% block menu %}
    {% include 'java/parciais/menu.html' %}
{% endblock menu %}

{% block tag_h1 %}
    <h2>APLICAÇÕES CONSTRUÍDAS EM JAVA</h2>
{% endblock tag_h1 %}

{% block principal %}
    {% if lista %}
        {% for aplicacao in lista %}
        <a href="exemplo/{{aplicacao.id}}"><h3>{{aplicacao.nome}}</h3></a>
        <p> {{aplicacao.categoria}} </p>
        {% endfor %}
    {% else %}
        <p>Não há exemplos de aplicações nesta linguagem</p>
    {% endif %}
{% endblock principal %}
