{% extends 'global/paginas/base.html' %}

{% block titulo %}Java-Exemplo{% endblock titulo %}

{% block linguagem %}
    {% include 'java/parciais/linguagem.html' %}
{% endblock linguagem %}

{% block menu %}
    {% include 'java/parciais/menu.html' %}
{% endblock menu %}

{% block tag_h1 %}
    {{dado.nome}}
{% endblock tag_h1 %}

{% block principal %}
    <img src="{{dado.foto.url}}" alt="" style="margin-bottom: 10px">
    <p><strong>Lançado em:</strong> {{dado.ano_lancamento}}</p>
    <p><strong>Categoria:</strong> {{dado.categoria}}</p>
    <p><strong>Descrição:</strong> {{dado.descricao}}</p>
    <p><strong>Número de usuários:</strong> {{dado.nr_usuarios}}</p>
{% endblock principal %}
