{% extends 'global/paginas/base.html' %}

{% block titulo %}JS-Exemplo{% endblock titulo %}

{% block linguagem %}    
    {% include 'jscript/parciais/linguagem.html' %}
{% endblock linguagem %}

{% block menu %}
    {% include 'jscript/parciais/menu.html' %}
{% endblock menu %}

{% block tag_h1 %}
    {{id.titulo}}
{% endblock tag_h1 %}

{% block principal %}    
    <img src="{{id.foto.url}}" alt="" style="margin-bottom: 10px">
    <p><strong>Lançado em:</strong> {{id.data_estreia}}</p>
    <p><strong>Categoria:</strong> {{id.categoria.name}}</p>
    <p><strong>Descrição:</strong> {{id.descricao}}</p>
    <p><strong>Número de usuários:</strong> {{id.nr_usuarios}}</p>
{% endblock principal %}